@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 243 40% 8%;
    --foreground: 226 100% 94%;
    --primary: 255 70% 65%;
    --primary-foreground: 240 20% 98%;
    --secondary: 243 30% 16%;
    --secondary-foreground: 226 100% 94%;
    --muted: 243 30% 14%;
    --muted-foreground: 230 20% 60%;
    --accent: 250 40% 20%;
    --accent-foreground: 226 100% 94%;
    --destructive: 0 62.8% 50%;
    --destructive-foreground: 210 40% 98%;
    --border: 250 25% 20%;
    --input: 250 25% 18%;
    --ring: 255 70% 65%;
    --radius: 0.5rem;
    --card: 243 35% 11%;
    --card-foreground: 226 100% 94%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
